<footer class="bg-blue-lightest">
  <div class="pr-container flex flex-col md:flex-row justify-center md:justify-between items-center md:items-baseline py-4 md:py-6 text-base md:text-lg text-grey-darker leading-none">
    <div class="py-2 text-center">
      <span class="hidden lg:inline">Copyright </span>© Peace Run International, Inc<span class="hidden lg:inline">, All Rights Reserved</span>
    </div>

    <!--
      Add negative margin of -3 to compensate for the
      px-3 padding on the rightmost link
    -->
    <div class="flex flex-none items-baseline mr-0 md:-mr-3 pt-2 leading-none">
      <%
        const links = [
          'About',
          'Contact',
        ];

        data.utils.iterate(links, (link, last) => {
          const margin = last ? '' : 'mr-2';
      %>
      <a href="<%= link.toLowerCase() %>.html" class="flex-none px-2 pt-1 pb-2 <%= margin %> rounded text-grey-darker active:bg-black-13">
        <%= link %>
      </a>
      <% }); %>
    </div>
  </div>
</footer>
