<!-- nav bar -->
<header
  id="navbar"
  class="fixed pin-t pin-l flex justify-between items-center w-full h-16 z-10 select-none bg-white border-b shadow-sm"
>

  <!-- logo -->
  <a href="/" class="flex items-center flex-none ml-4">
    <svg width="33" height="46" class="mr-1">
      <use xlink:href="#torch"></use>
    </svg>
    <svg width="167" height="45">
      <use xlink:href="#logo"></use>
    </svg>
  </a>

  <!-- country/language -->
  <div class="flex items-center">
    <!-- country flag -->
    <div class="flex items-center justify-center relative rounded-full bg-grey-lighter w-11 h-11">
      <img src="/assets/img/flags/us.svg" alt="USA" class="w-9 h-9"/>

      <!-- country/language menu -->
      <%- include('./region-menu.ejs') %>
    </div>

    <!-- country name -->
    <div class="ml-2">
      USA
    </div>

    <!-- disclosure arrow -->
    <svg class="ml-1 mb-1" width="10" height="5">
      <use xlink:href="#menu-disclosure"></use>
    </svg>
  </div>

  <!-- nav links -->
  <div class="mr-2 sm:mr-5">
    <nav>
      <%- // include('./navbar/tiny-nav.ejs')  %>
      <%- include('./navbar/regular-nav.ejs') %>
    </nav>
  </div>

</header>
