<div class="flex flex-col items-center absolute pin-t mt-12">
  <!-- point -->
  <div class="w-4 h-4 mt-px bg-white border border-grey-light border-r-0 border-b-0" style="transform: rotate(45deg)"></div>
  <!-- frame -->
  <div class="-mt-2 px-5 py-4 rounded-lg bg-white border border-grey-light shadow-lg-strong">
    <!-- search field -->
    <div class="flex items-center border-b border-grey">
      <input
        type="text"
        class="flex-1 w-32 appearance-none font-normal text-base border-none outline-none px-0 py-1"
        placeholder="Search"
      />


      <!-- search icon -->
      <svg class="flex-none mr-1 w-5 h-5" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.846 8.462a5.391 5.391 0 0 0-5.384-5.385 5.391 5.391 0 0 0-5.385 5.385 5.391 5.391 0 0 0 5.385 5.384 5.391 5.391 0 0 0 5.384-5.384zm6.154 10A1.55 1.55 0 0 1 18.462 20c-.41 0-.806-.168-1.082-.457l-4.123-4.11a8.442 8.442 0 0 1-4.795 1.49A8.459 8.459 0 0 1 0 8.462 8.459 8.459 0 0 1 8.462 0a8.459 8.459 0 0 1 8.461 8.462c0 1.706-.517 3.389-1.49 4.795l4.122 4.123c.277.276.445.673.445 1.082z" fill="#4A4A4A" fill-rule="evenodd"></path>
      </svg>
    </div>

    <!-- countries -->
    <div class="flex flex-col mt-2 -mb-1">
      <%
      const countries = [
        { name: 'Australia', code: 'au' },
        { name: 'Austria', code: 'at' },
        { name: 'Canada', code: 'cn' }
      ];

      countries.forEach(country => {
      %>
      <!-- country -->
        <div class="flex items-center flex-none py-1">
          <!-- flag + border -->
          <div class="flex items-center justify-center mr-2 w-7 h-7 rounded-full bg-grey-lighter">
            <!-- flag -->
            <img
              src="/assets/img/flags/<%- country.code %>.svg"
              class="flex-none w-6 h-6"
              alt=" "
            />
          </div>
          <p><%= country.name %></p>
        </div>
      <%
      })
      %>
    </div>
  </div>
</div>
