#hero {
  background-image: linear-gradient(
      -180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.35) 80%
    ),
    url('/assets/img/Malta-kids@2x.jpg');
}

.pr-hero-text {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
