.pr-bg-home-partner {
  background-image: linear-gradient(-90deg, #a6cfff 0%, #deedff 100%);
}

.pr-bg-partner-torch {
  background-image: url(/assets/img/torch-one-color.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
