<section
  id="hero"
  class="flex flex-col items-center justify-end h-screen pt-16 bg-no-repeat bg-center bg-cover"
>
  <p class="pr-hero-text text-hero font-medium leading-tight text-center text-white">Peace can happen.<br>Yours is the first step.</p>
  <div class="flex items-center mt-11 mb-12 pl-8 pr-4 py-4 text-center rounded-full" style="background: rgba(0, 0, 0, 0.27)">
    <h1 class="font-medium text-white tracking-wide">
      Watch a short video
    </h1>
    <svg class="ml-4 w-15 h-15">
      <use xlink:href="#play-button"></use>
    </svg>
  </div>
</section>
