<section class="pr-container flex items-center justify-center py-24 bg-white">
  <img
    src="/assets/img/CKG-lg@2x.jpg"
    alt="Sri Chinmoy"
    width="306"
    height="420"
    class="flex-none rounded shadow-image"
  />
  <div class="flex-none ml-16 text-base leading-base" style="width: 564px;">
    <div class="flex items-center mb-6">
      <svg class="flex-none mr-2" width="42" height="58">
        <use xlink:href="#torch"></use>
      </svg>
      <h3 class="text-h3 leading-tight">Peace begins in the heart</h3>
    </div>

    <p class="">The Sri Chinmoy Oneness-Home Peace Run is a global torch relay dedicated to the simple idea that world peace begins within the heart of each individual.</p>

    <p class="mt-4">Founded by Sri Chinmoy in 1987, the Peace Run has passed a flaming torch of peace from hand to hand and heart to heart in over 150 countries, covering over 370,000 miles and giving millions of people the chance to offer their hopes and prayers for peace.</p>
  </div>
</section>
