<section class="pr-container flex flex-col items-center py-28">
  <!-- Torch + header -->
  <div class="flex items-center justify-center">
    <svg class="flex-none mr-2" width="42" height="58">
      <use xlink:href="#torch"></use>
    </svg>
    <h3 class="text-h3 leading-tight">Peace Run news</h3>
  </div>

  <p class="mt-2 text-lg">
    Check out recent Peace Run events and sign up for our news feeds
  </p>

  <!-- Country/language menu -->
  <div class="flex items-center justify-center mt-12">
    <div class="flex items-center justify-center rounded-full bg-grey-lighter w-11 h-11">
      <img src="/assets/img/earth.svg" class="w-9 h-9" />
    </div>
    <div class="ml-2">
      World
    </div>
    <svg class="ml-1 mb-1" width="10" height="5">
      <use xlink:href="#menu-disclosure"></use>
    </svg>
  </div>

  <!-- News carousel -->
  <div class="flex items-center justify-center mt-6 w-full">
    <!-- Previous -->
    <svg width="21" height="36" class="flex-none mr-10 text-black opacity-10 fill-current">
      <use xlink:href="#chevron-left"></use>
    </svg>

    <!-- News items -->
    <div class="flex flex-none">
      <%
      const news = [
        {
          img: 'italy.jpg',
          flag: 'italy.svg',
          caption: '9/24/2017 – Assisi, Italy'
        },
        {
          img: 'turkey.jpg',
          flag: 'turkey.svg',
          caption: '10/1/2017 – Çanakkale, Turkey'
        },
        {
          img: 'croatia.jpg',
          flag: 'croatia.svg',
          caption: '10/2/2017 – Dubrovnik, Croatia'
        }
      ];

      data.utils.iterate(news, (item, last) => {
      %>
      <div class="flex flex-col flex-none w-76 h-55 rounded overflow-hidden <%= last ? '' : 'mr-6' %>">
        <div
          class="flex-1 w-full"
          style="background-image: url(/assets/img/news/<%= item.img %>); background-size: cover;"
        ></div>
        <div class="flex items-center flex-none w-full h-12 text-xs leading-tight text-white bg-black">
          <div class="flex-none ml-2 w-6 h-6">
            <img src="/assets/img/flags/<%= item.flag %>" alt="" class="w-full h-full"/>
          </div>
          <p class="flex-1 mr-10 text-center"><%= item.caption %></p>
        </div>
      </div>
      <% }); %>
    </div>

    <!-- Next -->
    <svg width="21" height="36" class="flex-none ml-10 text-blue fill-current">
      <use xlink:href="#chevron-right"></use>
    </svg>
  </div>

  <!-- Page dots -->
  <div class="flex justify-between mt-4">
    <div class="w-4 h-4 mr-4 rounded-full bg-grey-dark"></div>
    <div class="w-4 h-4 mr-4 rounded-full bg-grey-light"></div>
    <div class="w-4 h-4 rounded-full bg-grey-light"></div>
  </div>

  <!-- More news button -->
  <button class="h-12 mt-16 px-7 rounded-full text-base text-white font-medium bg-red">More news</button>
</section>
