<section class="flex items-center px-38 py-40 pr-bg-home-partner">
  <!-- Runners -->
  <div class="flex-1 mr-16">
    <img src="/assets/img/san-diego.jpg"
         class="w-full rounded shadow-image">
  </div>

  <!-- Text + button -->
  <div class="flex-1 h-full py-10">
    <h3 class="text-h3 leading-tight mb-8">
      Organise a Peace Run event
    </h3>

    <p class="pb-12 text-lg leading-lg">
      Organise a welcoming event for the Peace Run team when they come to your area! Join our Peace Partner program and we’ll show you how to create an inspiring Peace Run event in your school, your community, or your city. It’s easy and it’s fun.
    </p>

    <!-- Tell me more button -->
    <button class="h-12 px-7 rounded-full text-base text-white font-medium bg-red">Get started</button>
  </div>

</section>
