<section class="flex flex-col items-center px-38 py-40 bg-white">

  <div class="flex-1 flex items-center">
    <!-- Text + button -->
    <div class="flex-1 mr-16">
      <h3 class="text-h3 leading-tight mb-8">
        Carry the torch and take a step for peace
      </h3>

      <p class="pb-12 text-lg leading-lg">
        Carry the Peace Torch and take a few steps or run a few miles for peace. You’ll be adding your hopes and dreams for a better world to the hopes of millions of people around the world who have held the torch.
      </p>

      <!-- Tell me more button -->
      <button class="h-12 px-7 rounded-full text-base text-white font-medium bg-red">Join us</button>
    </div>

    <!-- Route map -->
    <div class="flex-1">
      <img src="/assets/img/map-north-america.png"
           class="w-full rounded shadow-image"
     />
    </div>
  </div>

  <div class="flex-1 mt-8 w-3/4">
    <img src="/assets/img/footsteps.svg"
         class="w-full"
         alt=" "
    />
  </div>
</section>
