<section class="w-full pr-tile-shadow pr-blue-gradient">
  <div class="pr-container text-center font-quote text-quote text-white tracking-tight px-auto py-10">
    <p class="mb-4">
      Peace means a flood of love in the world-family.
    </p>
    <p>
      -Sri Chinmoy
    </p>
  </div>
</section>
