<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <%- include('../../includes/svg-symbols/torch.svg') %>
  <%- include('../../includes/svg-symbols/logo.svg') %>
  <%- include('../../includes/svg-symbols/menu-disclosure-triangle.svg') %>
  <%- include('../../includes/svg-symbols/play-button.svg') %>
  <%- include('../../includes/svg-symbols/chevron-left.svg') %>
  <%- include('../../includes/svg-symbols/chevron-right.svg') %>
</svg>
