<section class="w-full pr-bg-home-testimonial pr-tile-shadow">
  <div class="pr-container py-10">
    <div class="flex items-center justify-center">
      <img
        src="/assets/img/Obama@2x.jpg"
        width="200"
        height="158"
        class="flex-none mr-8 shadow-image rounded"
      />
      <div class="flex-shrink p-8 rounded-xl bg-white-10 shadow-inner">
        <div class="text-lg text-white text-left leading-tight">
        <p>
          I love the Peace Run. It’s the greatest thing since sliced bread.
        </p>
        <p class="flex items-center mt-6 ml-4">
          <span class="block mr-1 pb-1">&#9656;</span><span class="block italic">President Barack Obama</span>
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
