<section class="flex items-center px-38 py-40 bg-black">

    <!-- Text + button -->
    <div class="flex-1 mr-8">
      <h3 class="text-h3 leading-tight text-white mb-8">
        Think globally, act locally
      </h3>

      <p class="pb-12 text-lg leading-lg text-white">
        Be a part of something big. The Peace Run is a truly global event, reaching millions of people of all ages, cultures and religions. But it all starts with you, right in your home town.
      </p>

      <!-- Tell me more button -->
      <button class="h-12 px-7 rounded-full text-base text-white font-medium bg-red">Tell me more</button>
    </div>

    <!-- World -->
    <div class="flex-1">
      <img src="/assets/img/earth-runners.svg" class="w-full">
    </div>
</section>
