<!doctype html>
<html lang="en">

<head>
  <%- include('../includes/head.ejs', { title: 'Home' }) %>
  <%- include('../includes/styles.ejs') %>
</head>

<body class="pr-body pr-content-loading text-base font-normal text-grey-darkest antialiased">

<%- include('./includes/symbols.ejs') %>

<main class="pr-content-wrapper">

<%- include('../includes/navbar.ejs', { isHome: true }) %>

<%- include('./includes/hero.html') %>
<%- include('./includes/intro.html') %>
<%- include('./includes/testimonial.html') %>
<%- include('./includes/news.ejs') %>
<%- include('./includes/world.ejs') %>
<%- include('./includes/quote.ejs') %>
<%- include('./includes/participate.ejs') %>
<%- include('./includes/partner.ejs') %>

<%- include('../includes/footer.ejs') %>

</main>

<%- include('./includes/scripts.html') %>

</body>

</html>
