

a {
  @apply no-underline;
}

.pr-content-loading {
}

.pr-content-loading *,
.pr-content-loading *:before,
.pr-content-loading *:after {
  animation-play-state: paused !important;
}

.pr-body {
  @apply relative h-full font-sans font-light text-grey-darkest;
}

.pr-content-wrapper {
  @apply relative min-w-full min-h-full pin-t pin-b pin-l overflow-x-hidden;
}

.pr-container {
  @apply max-w-3xl mx-auto px-5%;
}

.pr-menu-content {
  transition-property: opacity, transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-out;
  transform: scaleY(0.98);
  transform-origin: top;
}

.pr-tile-shadow {
  box-shadow:
    inset 0 0 10px 0 rgba(0,0,0,0.20),
    0 2px 20px 0 rgba(0,0,0,0.13);
}

.pr-blue-gradient {
  background-image: linear-gradient(-180deg, #52a3ff 0%, #407fc7 97%);
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
