#navbar {
  & .pr-tiny-nav.pr-menu--open {
    @apply bg-grey-lighter;
  }

  & .pr-menu-trigger {
    @apply border-black-13;
  }
}

.pr-menu--open {
  @apply bg-black-13;
}

.pr-navbar-link {
  @apply block mr-8 text-grey-darkest;
}

.pr-navbar-link:hover {
  @apply text-blue;
}
