<!-- Regular navbar -->
<div class="hidden sm:flex items-center leading-none">
  <a href="/about" class="pr-navbar-link">About</a>
  <a href="/participate" class="pr-navbar-link">Participate</a>
  <a href="/news" class="pr-navbar-link">News</a>
  <a href="/contact" class="pr-navbar-link">Contact</a>
  <div class="w-5 h-5 mb-1 fill-current">
    <%- include('./search.svg') %>
  </div>
</div>
