<!-- Tiny screen menu trigger -->
<div class="sm:hidden relative mr-2">
  <div class="pr-tiny-nav pr-menu-trigger rounded px-2 pt-1 pb-2
        border text-lg text-color-inherit cursor-pointer">
    Menu
  </div>

  <ul class="pr-menu-content opacity-0 pointer-events-none absolute list-reset pin-r w-auto
  -mt-px py-1 rounded shadow-md text-lg text-grey-darkest bg-white border
  border-grey-lightest whitespace-no-wrap">

    <%
    const { navLinks } = data.global;

    const fullMenuLinks = [
      navLinks.about,
      navLinks.contact,
      navLinks.legal,
      navLinks.portal,
      navLinks.schwab
    ];

    fullMenuLinks.forEach((link) => {
      const target = link.href.startsWith('http') ? 'target="_blank"' : '';
    %>
    <li>
      <a
        class="pr-menu-item block px-6 pt-3 pb-4 text-grey-darkest hover:bg-black-13 active:bg-black-13"
        href="<%- link.href %>"
        <%= target %>
      >
        <%= link.title %>
      </a>
    </li>

    <% }); %>
  </ul>
</div>
